.container{
    margin: auto;
}
.jumbotron{
    border-bottom: 1px solid #e3e4e5;
    background-color: #f5f5f5;
}
.box{
    margin-bottom: 30px;
}

.footer{
    border-top: 1px solid #e3e4e5;
    background-color: #f5f5f5;
    margin-bottom: 0px; 
    padding-bottom: 0px;
    border-bottom: 1px solid #e3e4e5;
}
.footer-container{
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-hotel{
    flex: 1 300px;
    padding: 4px 8px 4px 8px;
}
.btn-reserva{
    width: 100%;
}
